canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

.punctualExample {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 32px 0;
}

.punctualSmall {
    height: 500px;
    width: 800px;
}

@media (max-width: 1024px) {
    .punctualSmall {
        height: 400px;
        width: 600px;
    }
}

@media (max-width: 768px) {
    .punctualSmall {
        height: 300px;
        width: 450px;
    }
}

@media (max-width: 480px) {
    .punctualSmall {
        height: 200px;
        width: 300px;
    }
}

#backgroundPunctualExample {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#backgroundPunctualExample .editor {
    display: none; /* Hide the editor area */
}

#backgroundPunctualExample canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor {
    flex-grow: 1;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: 100%;
    resize: none;
}

.editorArea {
    font-family: Inconsolata, Consolas, monospace;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    resize: none;
    overflow: hidden;
    box-shadow: none;
    outline: none;
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.punctualError {
    color: red;
    margin-top: 10px;
}

.blocks-cover, .blocks-lead, .blocks-section, footer, .td-box {
    position: relative;
    z-index: 1;
}

.td-box--primary {
    z-index: 2;
}